name: deploy
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: Oracle
    env:
      CI: false
    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install modules
        run: npm install
      - name: Build project
        run: npm run build
      - name: Deploy build outputs
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          KEY: ${{ secrets.SSH_KEY }}
        with:
          source: "build/*"
          strip_components: 1
          target: "/var/www/test"
